.contactWrapper {
  display: flex;
  align-items: center;
    justify-content: center;

  @media screen and (min-width:769px) and (max-width:1024px) {
      margin-top: auto;
      flex-direction: column;
  }

  @media screen and (max-width:768px){
    flex-direction: column;
  }

  .infoContainer {
      display:flex;
      flex-direction: column;

      @media screen and (min-width:769px) and (max-width:1024px) {
        flex-direction: row;
      }

      @media screen and (max-width:768px) {
          flex-direction: column;
      }

    &>.address {
      grid-area: address;
    }

    &>.reservation {
      grid-area: reservation;
    }

    &>.hours {
      grid-area: hours;
    }
  }



  &>.mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h2{

    }

    &>.map {
      margin: 40px;

      @media screen and (min-width:569px) and (max-width:768px) {
          width:500px;
      }
      @media screen and (max-width:568px){
          height:400px;
          width:300px;
      }
    }
  }
}
