<div class="infoContainer">
    <span class="addressContainer">
        <span class="address">
            <h3>Informacje kontaktowe:</h3>
            <strong>adres:</strong> ul. Księdza Nosala 2, 39-200 Dębica<br>
            <strong>telefon:</strong> 123 456 789<br>
            <strong>email:</strong> cinemaniak@cinema.pl
        </span>
    </span>
    <span class="reservation">
        <h3>Rezerwacja</h3>
            <strong>telefon:</strong> 987 654 321<br>
            <strong>email:</strong> rezerwacja-cinemaniak@cinema.pl<br>
            <strong>Lub poprzez naszą stronę internetową!</strong>
    </span>
    <span class="hours">
        <h3>Godziny otwarcia:</h3>
        <span><strong>pn-pt:</strong> 8<sup>00</sup>-24<sup>00</sup></span>
        <span><strong>sb-nd:</strong> 9<sup>30</sup>-23<sup>00</sup></span>
    </span>
</div>
<div class="mapContainer">
    <h1>Jak do nas dojechać?</h1>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4173.410784794438!2d21.413121665843693!3d50.046211833056375!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6db30c94cc274c73!2sGaleria%20D%C4%99bicka!5e0!3m2!1spl!2spl!4v1599993675142!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
