.infoContainer{
 display:flex;
 justify-content: space-around;
 align-items: center;
 min-height: 40vh;
}
.mapContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
    .map{
        margin:40px;
    }
}