<section class="cheapWednesday sectionWrapper">
    <h2 class="title">Tanie środy</h2>
    <span class="info">
        <strong>W każdą środę taniej!</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Porro soluta voluptatibus eum impedit reiciendis inventore praesentium iusto ducimus itaque nemo error enim eveniet autem aut accusantium, cupiditate maxime perferendis dolore.</p>
        <strong>Lorem ipsum</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iusto ipsam repudiandae, praesentium rerum delectus est nesciunt nemo at et facere reiciendis architecto tempora ea hic accusamus consequuntur rem error.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non eum maiores impedit deleniti porro. Nulla vero aperiam totam impedit maxime. Officia at modi, reprehenderit quaerat accusantium ullam soluta aliquam aut.
        </p>
    </span>
</section>
