@import "../../../../assets/scss/fonts";

.movieDetailsWrapper {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  &>img {
    height: 600px;
  }

  &>.movieInfo {
    width:40%;
    display: flex;
    flex-direction: column;

    &>.title {
      font-size: $large-font;
      text-align: center;
    }

    &>.otherInfo {
      padding-top: 20px;
    }

    &>.trailerBtnContainer{
      &>.trailerBtn {
        padding:10px 20px;
        border-color: #175185;
        border-radius: 10px;
        background-color: transparent;

        &:hover {
          color: white;
          background: linear-gradient(to right, #102c46, #175185, #102c46);
        }

        &:focus {
          outline: none;
        }
      }
    }
    

    &>.order {
      text-align: center;
      font-size: 25px;
    }

    &>.hours {
      display: flex;
      justify-content: center;

      &>ul {
        display: inline-flex;

        &>li {
          width: 70px;
          height: 40px;
          border: 2px solid #175185;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin: 10px;
          user-select: none;

          &:first-child {
            margin-left: 0;
          }

          &:hover {
            background: linear-gradient(to right, #102c46, #175185, #102c46);
            color: white;
          }
        }
      }
    }
  }

  &>.trailerScreen {
    position: absolute;
    display: none;
    left: 50%;
    transform: translateX(-50%);

    &>iframe {
      width: 60vw;
      height: 60vh;
    }

    &>.closeBtn {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: none;

      &>.closeBtnStyle {

        &:before,
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: white;
          left: 50%;
          top: 50%;
        }

        &:before {

          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }

        &:after {
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
      }
    }
  }
}

.showTrailer {
  display: flex !important;
}
