$dark-blue: #102C46;
$light-blue: #175185;
$color-white: #ffffff;
$color-black: #000000;

$free-place: $light-blue;
$selected-place: orange;
$taken-place: $dark-blue;

$gradient-blue: linear-gradient(to right, #102C46, #175185 , #102C46);
