@import './colors';

::-webkit-scrollbar{
    width:5px;
    z-index:999;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color:$light-blue;
  }

::-webkit-scrollbar-thumb {
    background-color:$dark-blue;
}
