<div class="date">
    <ul class="menuForDesktop" *ngFor="let date of date; let i = index">
        <li (click)="selectedItem(i)" (click)="getDay(date.getDay())" (click)="sortMovie()" [ngClass]="{active: selectedItemId == i}">
            {{date.getDate()}}<br>
            {{dayName[date.getDay()]}}<br>
            {{monthName[date.getMonth()]}}
        </li>
    </ul>
    <select class="menuForPhone">
        <option *ngFor="let date of date; let i = index" (click)="selectedItem(i)" (click)="getDay(date.getDay())" (click)="sortMovie()" [ngClass]="{active: selectedItemId == i}">
            {{date.getDate()}}<br>
            {{dayName[date.getDay()]}}<br>
            {{monthName[date.getMonth()]}}
        </option>
    </select>
</div>
<hr/>
<div class="filmContainer">
    <ul *ngFor="let movie of currentMovies">
        <li>
            <span class="movieInfoContainer">
                <img [src]="movie.cover"/>
                <span class="movieDescription">
                <p>{{movie.title}}</p>
                <p>Czas trwania: {{movie.duration}} min.</p>
                </span>
            </span>
            <button (click)="changeCurrentDay()" [routerLink]="['/movies', movie.id]">Zobacz szczegóły</button>
        </li>
    </ul>
</div>
