<section class="repetitoreWrapper">
    <div class="date">
        <ul class="menuForDesktop">
            <li (click)="selectedItem(i)" *ngFor="let date of date; let i = index" (click)="sortMovieForList()" [ngClass]="{active: selectedItemId == i}">
                {{date.getDate()}}<br>
                {{dayName[date.getDay()]}}<br>
                {{monthName[date.getMonth()]}}
            </li>
        </ul>
        <select class="menuForPhone" (change)="sortMovieForSelect($event.target)">
            <option *ngFor="let date of date; let i = index" value="{{i}},{{date}}" (click)="selectedItem(i)" (click)="getDay(date.getDay())" [ngClass]="{active: selectedItemId == i}">
                {{date.getDate()}}<br>
                {{dayName[date.getDay()]}}<br>
                {{monthName[date.getMonth()]}}
            </option>
        </select>
    </div>
    <hr class="line" *ngIf="movies.length > 0"/>
    <div class="filmContainer" *ngIf="movies.length > 0">
        <p *ngIf="errorMessage">{{errorMessage}}</p>
        <ul>
            <li *ngFor="let movie of currentMovies">
                <span class="movieInfoContainer">
                    <img [src]="movie.cover"/>
                    <span class="movieDescription">
                    <p>{{movie.title}}</p>
                    <p>Czas trwania: {{movie.duration}} min.</p>
                    </span>
                </span>
                <button [routerLink]="['/movies', movie.id]">Zobacz szczegóły</button>
            </li>
        </ul>
    </div>
    <div class="loadingContainer" *ngIf="!movies.length">
        <app-loading-page mode="indeterminate"> </app-loading-page>
    </div>
</section>
