<section class="priceWrapper">
    <!-- <p *ngIf="errorMessage">{{errorMessage}}</p> -->
    <div class="priceListContainer" *ngIf="priceList.length > 0">
        <h2 class="title">Ceny biletów:</h2>
        <ng-container class="ticketContainer" class="ticketContainer">
            <p *ngFor="let price of priceList">
                <span class="ticketName">{{price.name}}:</span> 
                <span class="ticketCost">{{price.price}}zł</span>
            </p>
        </ng-container>
    </div>
    <div class="discount" *ngIf="priceList.length > 0">
        <h2 class="title">
            Im wcześniej kupisz bilet tym lepiej!
        </h2>
        <p class="normalTicket">(Dotyczy tylko biletów normalnych)</p>
        
        <table>
            <tr>
                <th>Dzień wcześniej</th>
                <th>Dwa dni wcześniej</th>
                <th>Trzy dni wcześniej</th>
            </tr>
            <tr>
                <td>23zł</td>
                <td>21,50zł</td>
                <td>20zł</td>
            </tr>
        </table>
        
        <span class="info">
            <p>*Bilet ulgowy - dla studentów i uczniów za okazaniem legitymacji</p>
            <p>*Bilet w tanią środę - w każdą środę w naszym kinie bilety są tańsze!</p>
            <p>*Bilet na noc horrorów - w każdy weekend organizujemy noc horrorów w okazyjnej cenie!</p>
            <p>*Bilet na filmy z oznaczeniem classic - z szacunku do klasyków wszystkie klasyczne filmy taniej!</p>
        </span>
    </div>
    <app-loading-page *ngIf="!priceList.length" mode="indeterminate"> </app-loading-page>
</section>
