<section class="horrorsNight sectionWrapper">
    <h2 class="title">Noc horrorów</h2>
    <span class="info">
        <strong>Zapraszamy na noc horrorów!</strong>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Ratione blanditiis excepturi culpa adipisci amet, dolorem earum autem maxime, numquam harum cupiditate inventore totam veniam ad similique eligendi odit at fugit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Doloribus necessitatibus facere, odio praesentium, eligendi nemo asperiores quia odit rerum eius hic labore assumenda nisi possimus veritatis neque modi, mollitia placeat.</p>
        <strong>Lorem ipsum</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, mollitia sequi temporibus quisquam doloremque necessitatibus vel consequatur rem iste alias expedita ea iusto eum delectus minus quaerat eius facilis ipsum.</p>
    </span>
   </section>
