<section class="forSchool sectionWrapper">
    <h2 class="title">Dla szkół</h2>
    
    <div class="info">
            <p class="description">Nasze kino w ramach swojej bogatej oferty proponuje, wiele form edukacyjnych 
                (projekcje filmowe, prelekcje w kinie, żywe lekcje historii, dyskusje oraz warsztaty, wykłady i zabawy interaktywne), 
                skierowane do grup przedszkolnych, szkolnych do nauczycieli, rodziców,a także do seniorów i studentów Uniwersytetów Trzeciego Wieku.
            </p>
        <span class="text">
            <h2>Zalety programu:</h2>
            <ul>
                <li>bilety dla opiekunów gratis</li>
                <li>dogodne godziny seansów</li>
                <li>preferencyjne ceny biletów</li>
                <li>bezpłatne materiały edukacyjne</li>
                <li>kartę nauczyciela</li>
                <li>program lojalnościowy</li>
                <li>seanse szkolne na wyłączność</li>
            </ul>
        </span>
    </div>
</section>
