<main>
   <ul class="navbar">
       <li><a (click)="scorllToElement('forSchool')">Dla szkół</a></li>
       <li><a (click)="scorllToElement('forCompany')">Dla firm</a></li>
       <li><a (click)="scorllToElement('cheapWednesday')">Tanie środy</a></li>
       <li><a (click)="scorllToElement('horrorsNight')">Noc horrorów</a></li>
       <li><a (click)="scorllToElement('classicMovies')">Filmy classic</a></li>
   </ul>
   <div class="forSchool Container" id="forSchool">
        <h1 class="title">Dla szkół</h1>
        <p>Nasze kino w ramach swojej bogatej oferty proponuje, wiele form edukacyjnych 
            (projekcje filmowe, prelekcje w kinie, żywe lekcje historii, dyskusje oraz warsztaty, wykłady i zabawy interaktywne), 
            skierowane do grup przedszkolnych, szkolnych do nauczycieli, rodziców,a także do seniorów i studentów Uniwersytetów Trzeciego Wieku.
        </p>
        <span class="info">
            <span class="text">
                <h2>Zalety programu:</h2>
                <ul>
                    <li>bilety dla opiekunów gratis</li>
                    <li>dogodne godziny seansów</li>
                    <li>preferencyjne ceny biletów</li>
                    <li>bezpłatne materiały edukacyjne</li>
                    <li>kartę nauczyciela</li>
                    <li>program lojalnościowy</li>
                    <li>seanse szkolne na wyłączność</li>
                </ul>
            </span>
        </span>
   </div>
   <div class="forCompany Container" id="forCompany">
    <h1 class="title">Dla firm</h1>
    <span class="info">
        <span class="text">
            <strong>Firmowe kino</strong>
            <p>Firmowe kino to oferta skierowana do firm, 
            które cenią zalety przezywania wspólnych emocji po godzinach pracy. Atrakcyjne ceny voucherów grupowych cieszą się wśród naszych klientów firmowych dużą popularnością.</p>
            <strong>Wynajem sal kinowych</strong>
            <p>Proponujemy Państwu wynajem naszych sal kinowych na organizację spotkań, konferencji i szkoleń. 
            Przygotowana przez Państwa prezentacja multimedialna pokazana na dużym ekranie kinowym zrobi na Państwa Klientach i Pracownikach ogromne wrażenie, 
            a wygodne fotele i klimatyzowane sale zapewnią najwyższy komfort pracy.</p>
            <strong>Organizacja indywidualnych wydarzeń</strong>
            <p>W naszych kinach istnieje możliwość organizacji urodzin dla najmłodszych pod opieka profesjonalnych animatorów. 
            Jesteśmy w stanie zorganizować najbardziej zaskakujące przyjęcie indywidualne.</p>
        </span>
    </span>
   </div>
   <div class="cheapWednesday Container" id="cheapWednesday">
       <h1 class="title">Tanie środy</h1>
       <span class="info">
           <span class="text">
               <strong>W każdą środę taniej!</strong>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Porro soluta voluptatibus eum impedit reiciendis inventore praesentium iusto ducimus itaque nemo error enim eveniet autem aut accusantium, cupiditate maxime perferendis dolore.</p>
                <strong>Lorem ipsum</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iusto ipsam repudiandae, praesentium rerum delectus est nesciunt nemo at et facere reiciendis architecto tempora ea hic accusamus consequuntur rem error.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non eum maiores impedit deleniti porro. Nulla vero aperiam totam impedit maxime. Officia at modi, reprehenderit quaerat accusantium ullam soluta aliquam aut.
                </p>
           </span>
       </span>
   </div>
   <div class="horrorsNight Container" id="horrorsNight">
    <h1 class="title">Noc horrorów</h1>
    <span class="info">
        <span class="text">
            <strong>Zapraszamy na noc horrorów!</strong>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Ratione blanditiis excepturi culpa adipisci amet, dolorem earum autem maxime, numquam harum cupiditate inventore totam veniam ad similique eligendi odit at fugit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Doloribus necessitatibus facere, odio praesentium, eligendi nemo asperiores quia odit rerum eius hic labore assumenda nisi possimus veritatis neque modi, mollitia placeat.</p>
            <strong>Lorem ipsum</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, mollitia sequi temporibus quisquam doloremque necessitatibus vel consequatur rem iste alias expedita ea iusto eum delectus minus quaerat eius facilis ipsum.</p>
        </span>
    </span>
   </div>
   <div class="classicMovies Container" id="classicMovies">
       <h1 class="title">Filmy z oznaczeniem classic</h1>
       <span class="info">
           <span class="text">
               <strong>Klasyki w niższej cenie!</strong>
               <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor porro culpa eius ullam voluptatibus provident nostrum saepe fugiat et expedita, autem id hic a at omnis eos molestiae, similique odit!</p>
               <strong>Lorem ipusm</strong>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sit vero illum nesciunt totam, quas voluptatibus tempora fuga libero reprehenderit a dolore tenetur at aperiam veniam error rerum, magnam dolorem!
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum molestiae et, labore consequatur corporis odio, doloribus delectus temporibus pariatur, nemo quia iure ipsa dolore dolores quod officiis illum sint? Culpa.
               </p>
           </span>
       </span>
   </div>
</main>