@import '../../../assets/scss/colors';
@import '../../../assets/scss/fonts';
@import '../../../assets/scss/scrollbar';
@import '../../../assets/scss/mixins';

.scrollContainer{
    
    ::ng-deep section{
        height:100vh;
        scroll-snap-align: start;

        @include respond-to(max-width, 768px) {
            height: fit-content;
        }
    }
 }
