<section class="bestMovieWrapper">
  <header *ngIf="latestMovies">
    <h1>Polecane przez nas filmy</h1>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </header>
  <div class="slidersContainer">
    <div class="slider" *ngIf="latestMovies">
      <h2 class="type">Najnowsze</h2>
      <ngb-carousel>
        <ng-container *ngFor="let last of latestMovies; let i = index">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img tabindex="6" [routerLink]="['/movies', last.id]" [src]="last.cover" alt="Random first slide" />
            </div>
          </ng-template>
        </ng-container>
      </ngb-carousel>
    </div>

    <div class="slider" *ngIf="bestMovies">
      <h2 class="type">Najlepsze</h2>
      <ngb-carousel>
        <ng-container *ngFor="let best of bestMovies; let i = index">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img tab-index="6" [routerLink]="['/movies', best.id]" [src]="best.cover" alt="Random first slide" />
            </div>
          </ng-template>
        </ng-container>
      </ngb-carousel>
    </div>
  </div>
  <app-loading-page *ngIf="!bestMovies && !latestMovies" mode="indeterminate"> </app-loading-page>
</section>
