<section class="classicMovies sectionWrapper">
    <h2 class="title">Filmy z oznaczeniem classic</h2>
    <span class="info">
        <strong>Klasyki w niższej cenie!</strong>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor porro culpa eius ullam voluptatibus provident nostrum saepe fugiat et expedita, autem id hic a at omnis eos molestiae, similique odit!</p>
        <strong>Lorem ipusm</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sit vero illum nesciunt totam, quas voluptatibus tempora fuga libero reprehenderit a dolore tenetur at aperiam veniam error rerum, magnam dolorem!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum molestiae et, labore consequatur corporis odio, doloribus delectus temporibus pariatur, nemo quia iure ipsa dolore dolores quod officiis illum sint? Culpa.
        </p>
    </span>
</section>
