@import '../../../../../assets/scss/fonts';
@import '../../../../../assets/scss/colors';

.orderWrapper{
  width:100%;
  height:100%;
  display:flex;
  align-items: center;

  & .free {
    background-color: #175185;
  }

  & .selected {
    background-color: orange;
    // pointer-events: none;
  }
  & .taken {
    background-color: #102c46;
    pointer-events: none;
  }

  & .place{
    width: 40px;
    height: 40px;
    border: 2px solid #102c46;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
  }

  & > .shortDescription {
    display: block;
    position: relative;

    & > .time {
      margin-top: 40px;
    }
  }

    & > .gridContainer {
      width:50%;
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;

      & > .screenContainer{
        width:70%;
        display:flex;
        justify-content: center;
        perspective: 100vh;

        & > .screen{
          width: 100%;
          height: 250px;
          border: 1px solid black;
          background-color: #efefef;
          display:flex;
          box-shadow: 0 0 20px 15px #175185;
          z-index: 10;
          transform: rotateX(-35deg);
        }
      }
      
      & > ul {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap:10px;
        justify-content: center;
        flex-direction: row;
        
        & > .place {

          &:hover{
            background: linear-gradient(to right, #102c46, #175185, #102c46);
            color: white;
          }
        }
      }
    }
    .orderInfo {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
          
          & > .selectedPlacesContainer{
            display:grid;
            grid-template-columns: repeat(5, 1fr);

            & > p {
              padding:10px;
              margin:10px;
              border-radius:50%;
              background-color:$light-blue;
              color:white;
            }
          }

      & > .legend{
        display: flex;
        flex-direction: column;
        font-size: $medium-font;

        & > .legendPlaceContainer{
          display: flex;

          & > p {
            margin-left:15px;
          }
        }
      }
      .orderBtn {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        background: transparent;
        border: 2px solid #102c46;
        margin: 20px;
      }
      .orderBtn:hover {
        background: linear-gradient(to right, #102c46, #175185, #102c46);
        color: white;
        transform: scale(1.1);
      }
      .orderBtn:focus {
        outline: none;
      }
    }
}
