<section class="orderWrapper">
    <div class="gridContainer" *ngIf="movie && places.length > 0">
        <div class="screenContainer">
            <iframe class="screen" [src]="movie.trailer | safe: 'resourceUrl'" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p *ngIf="errorMessage">{{errorMessage}}</p>
        <ul>
            <li *ngFor="let place of places; let i=index;"
                class="place"
                (click)="choosePlace(i)" 
                [disabled]="place.free === false"
                data-status={{place.free}}
                data-number={{place.number}}
                #place>
                {{i + 1}}
            </li>
        </ul>
    </div>
    <div class="orderInfo" *ngIf="movie && places.length > 0">
        <h1 class="title"><strong>{{movie.title}}</strong></h1><br>
        <h3>Informacje o zamówieniu:</h3>
        <p>Data: {{selectedDate | date:"dd.MM.yyyy"}},</p>
        <p>Godzina: {{selectedTime}},</p>
        <h2>Miejsca:</h2>
        <div class="selectedPlacesContainer">
            <p *ngFor="let selectedPlace of selectedPlaces" class="selectedPlace"> {{selectedPlace}}, </p>
        </div>
        <p>Cena: {{price}} zł</p>
        <button class="orderBtn" (click)="bookPlace()">Zatwierdź zamówienie</button>
        <div class="legend">
            <span class="legendPlaceContainer"><span class="place free"></span><p>- Wolne stanowisko</p></span>
            <span class="legendPlaceContainer"><span class="place selected"></span><p>- Zajęte stanowisko</p></span>
            <span class="legendPlaceContainer"><span class="place taken"></span><p>- Zaznaczone stanowisko</p></span>
        </div>
    </div>
    <div class="loadingContainer" *ngIf="!movie && !places.length">
        <app-loading-page mode="indeterminate"> </app-loading-page>
    </div>
</section>
