<section class="loadingPageWrapper">
    <div class="camera-container">
        <div class="small-circle">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="big-circle">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
    </div>
    <div class="camera">
        <div class="lens"></div>
    </div>
    <h2 class="information">Trwa ładowanie...</h2>
</section>

