<nav class="navbar">
  <ul>
    <li [routerLink]="['/repertoire']" routerLinkActive="router-link-active">Repertuar</li>
    <span class="verticalLine"></span>
    <li [routerLink]="['/price-list']" routerLinkActive="router-link-active" >Cennik</li>
    <span class="verticalLine"></span>
    <li [routerLink]="['/special-offers']" routerLinkActive="router-link-active" >Oferty specjalne</li>
    <span class="verticalLine"></span>
    <li [routerLink]="['/about-us']" routerLinkActive="router-link-active" >O nas</li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>© Kamil Bieniasz</footer>
