main{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
}
.footerWrapper{
    width:100%;
    background: linear-gradient(to right, #102C46, #175185 , #102C46);
    color:white;
    justify-self: flex-end;
    align-self: flex-end;
}

.showMenu{
    transform: translateX(100vw);
    transition: .1s ease-in-out;
}
.hamburgerBtnActive .hamburgerBar{
    background: transparent !important;
}
.hamburgerBtnActive .hamburgerBar::before{
    background: transparent !important;
    background-color:white !important;
    transform: translateY(10px) rotate(45deg);
    transition: transform .2s ease-in-out
}
.hamburgerBtnActive .hamburgerBar::after{
    background: transparent !important;
    background-color:white !important;
    transform: translateY(-10px) rotate(-45deg);
    transition: transform .2s ease-in-out
}

@media screen and (max-width: 1030px){
    .navbar{
        width: 100vw;
        position: fixed;
        left:-100vw;
        overflow-y: hidden;
        ul{
            flex-direction: column;
            height:auto;
            li{
                font-size:25px;
            }
            li:hover{
                overflow: none;
            }
            .verticalLine{
                width:100vw;
                height:0;
            }
        }
    }
    .hamburgerBtn{
        display:flex;
        position: fixed;
        .hamburgerBarContainer{
            width:30px;
        }
    }

}
@media screen and (max-width:350px){
    .hamburgerBtn{
        .hamburgerBarContainer{
            width: 25px;
            .hamburgerBar{
                &:after{
                    top:7px;
                }
                &:before{
                    top:-7px;
                }
            }
        }
    }
    .hamburgerBtnActive .hamburgerBar:after{
        transform: translateY(-7px) rotate(-45deg) !important;
    }
    .hamburgerBtnActive .hamburgerBar:before{
        transform: translateY(7px) rotate(45deg) !important;
    }
}
