<button class="hamburgerBtn" (click)="hideAndShowMenu()">
  <span class="hamburgerBarContainer">
    <span class="hamburgerBar"></span>
  </span>
</button>
<nav class="navbar">
  <ul>
    <li [routerLink]="['/repertoire']" routerLinkActive="router-link-active">Repertuar</li>
    <span class="verticalLine"></span>
    <li [routerLink]="['/price-list']" routerLinkActive="router-link-active" >Cennik</li>
    <span class="verticalLine"></span>
    <li [routerLink]="['/special-offers']" routerLinkActive="router-link-active" >Oferty specjalne</li>
    <span class="verticalLine"></span>
    <li [routerLink]="['/contact']" routerLinkActive="router-link-active" >O nas</li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>© Kamil Bieniasz</footer>
