@import '../assets/scss/mixins';

main{
    height: 100vh;
    display:flex;
    flex-direction: column;

    @include respond-to(max-width, 768px){
        height: auto;
        min-height: 100vh;
    }

    ::ng-deep .contentWrapper{
        margin: 80px 0 0 0;
        height:calc(100% - 80px);
        display:flex;
        justify-content: center;
        // align-items: center;

        @media screen and (min-width:768px) and (max-width:1366px){
            height: 100%;
            margin-top:60px;
            height:calc(100% - 60px);
        }

        @include respond-to(max-width, 768px) {
            margin: 80px auto auto auto;
        }

    }

    & > .footerWrapper{
        width:100%;
        flex-shrink: 0;
    }
}

///////////////////////////
.showMenu{
    transform: translateX(100vw);
    transition: .1s ease-in-out;
}
.hamburgerBtnActive .hamburgerBar{
    background: transparent !important;
}
.hamburgerBtnActive .hamburgerBar::before{
    background: transparent !important;
    background-color:white !important;
    transform: translateY(10px) rotate(45deg);
    transition: transform .2s ease-in-out
}
.hamburgerBtnActive .hamburgerBar::after{
    background: transparent !important;
    background-color:white !important;
    transform: translateY(-10px) rotate(-45deg);
    transition: transform .2s ease-in-out
}

@media screen and (max-width: 1030px){
    .navbar{
        width: 100vw;
        position: fixed;
        left:-100vw;
        overflow-y: hidden;
        ul{
            flex-direction: column;
            height:auto;
            li{
                font-size:25px;
            }
            li:hover{
                overflow: none;
            }
            .verticalLine{
                width:100vw;
                height:0;
            }
        }
    }
    .hamburgerBtn{
        display:flex;
        position: fixed;
        .hamburgerBarContainer{
            width:30px;
        }
    }

}
@media screen and (max-width:350px){
    .hamburgerBtn{
        .hamburgerBarContainer{
            width: 25px;
            .hamburgerBar{
                &:after{
                    top:7px;
                }
                &:before{
                    top:-7px;
                }
            }
        }
    }
    .hamburgerBtnActive .hamburgerBar:after{
        transform: translateY(-7px) rotate(-45deg) !important;
    }
    .hamburgerBtnActive .hamburgerBar:before{
        transform: translateY(7px) rotate(45deg) !important;
    }
}
