<button class="hamburgerBtn" (click)="hideAndShowMenu()">
  <span class="hamburgerBarContainer">
    <span class="hamburgerBar"></span>
  </span>
</button>
<nav class="navbar">
  <ul>
    <li class="logo" [routerLink]="['/best']">
      <span class="firstPart">Cine</span>
      <span class="secondPart">Maniak</span>
    </li>
    <span class="verticalLine"></span>
    <li tabindex="1" [routerLink]="['/repertoire']" routerLinkActive="router-link-active" (click)="hideMenu()">Repertuar</li>
    <span class="verticalLine"></span>
    <li tabindex="1" [routerLink]="['/price-list']" routerLinkActive="router-link-active" (click)="hideMenu()">Cennik</li>
    <span class="verticalLine"></span>
    <li tabindex="1" [routerLink]="['/special-offers']" routerLinkActive="router-link-active" (click)="hideMenu()">Oferty specjalne</li>
    <span class="verticalLine"></span>
    <li tabindex="1" [routerLink]="['/contact']" routerLinkActive="router-link-active" (click)="hideMenu()">O nas</li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer class="footer">© Kamil Bieniasz</footer>
