<section class="forCompany sectionWrapper">
    <h2 class="title">Dla firm</h2>
    <span class="info">
        <strong>Firmowe kino</strong>
        <p>Firmowe kino to oferta skierowana do firm, 
            które cenią zalety przezywania wspólnych emocji po godzinach pracy. Atrakcyjne ceny voucherów grupowych cieszą się wśród naszych klientów firmowych dużą popularnością.</p>
        <strong>Wynajem sal kinowych</strong>
        <p>Proponujemy Państwu wynajem naszych sal kinowych na organizację spotkań, konferencji i szkoleń. 
            Przygotowana przez Państwa prezentacja multimedialna pokazana na dużym ekranie kinowym zrobi na Państwa Klientach i Pracownikach ogromne wrażenie, 
            a wygodne fotele i klimatyzowane sale zapewnią najwyższy komfort pracy.</p>
        <strong>Organizacja indywidualnych wydarzeń</strong>
        <p>W naszych kinach istnieje możliwość organizacji urodzin dla najmłodszych pod opieka profesjonalnych animatorów. 
            Jesteśmy w stanie zorganizować najbardziej zaskakujące przyjęcie indywidualne.</p>
    </span>
   </section>
